#Footer {
  color: #ffa3a3;
  background-color: #323232;
  text-align: start;
  font-size: 14px;
  padding: 40px 0;
  .container {
    position: relative;
    .vertical-line {
      width: 1px;
      position: absolute;
      right: 25%;
      height: 100%;
      opacity: unset;
      text-align: center;
      padding: 0px;
    }
    .logo {
      p {
        margin-top: 1rem;
      }
    }
    .mid-content {
      .line {
        width: 25px;
        height: 1px;
        opacity: unset;
      }
      p {
        font-size: 18px;
        font-weight: 600;
      }
      ul {
        padding-left: 0;
        li {
          list-style: none;
          margin-top: 10px;
          a {
            &:hover {
              color: #fff;
              cursor: pointer;
            }
          }
        }
      }
    }
    .left-content {
        padding-left: 100px;
      .btn-download {
        font-size: 12px;
        border-radius: 10px;
        border-width: 3px;
        font-weight: 600;
        min-width: 152px;
        i {
          font-size: 34px;
        }
        span {
          font-size: 16px;
          small {
            font-size: 10px;
          }
        }
      }
    }
  }
}
