#Header {
  background-color: transparent;
  color: #fff;
  width: 100%;
  a {
    font-size: 14px;
    font-weight: 700;
    color: white;
    &:focus,
    &:hover,
    &:active {
      color: #ffa3a3;
    }
  }
  .form-control {
    outline: none !important;
    box-shadow: none;
  }
  .btn-search {
    background-color: #ffa3a3;
    box-shadow: none !important;
  }
  .cart{
    width: 42px;
    height: 42px;
    &:hover{
      background-color: #fff;
      border-radius: 9px;
      a{
        color: transparent;
      }
    }
  }
}
