.not-found {
  background-image: url("./../../assets/image/bg-test.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    padding: 190px;
    .content {
      .text {
        font-size: 18px;
        color: white;
        margin-top: 30px;
      }
      .btn-home {
        background-color: #f7c85a;
        padding: 10px 30px;
        margin-top: 30px;
      }
    }
  }
}
