.Cart {
    padding: 100px 0;

    .content {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .right {
            text-align: left;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 5px 30px 1px #FC5252;

            .content {
                display: flex;
                flex-direction: column;
                font-size: 20px;

                .title {
                    font-weight: 600;
                }

                .priceSum,
                .priceShip,
                .total {
                    display: flex;
                    justify-content: space-between;
                    text-align: center;

                    p {
                        font-size: 16px;
                        color: #5c5c5c;
                    }

                    span {
                        font-weight: 600;
                        color: #FC5252;
                    }
                }

                .btn-buy {
                    border: none;
                    background-color: #FFA3A3;
                    color: #f0f0f0;
                    border-radius: 8px;

                    &:hover {
                        background-color: #f0f0f0;
                        color: #000;
                    }
                }
            }
        }

        .left {
            .bread {
                border-bottom: 3px solid #fff;
                text-align: left;

                .title {
                    width: 250px;
                    height: 50px;
                    background-color: #fff;
                    font-weight: 600;
                    font-size: 22px;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .cart-item{
                padding: 24px;
                margin-top: 40px;
                border-radius: 8px;
                background-color: #fff;
                box-shadow: 0px 5px 30px 1px #FFA3A3;
                .content{
                    display: flex;
                    align-items: center;

                    .thumbnail{
                        width: 15%;
                    }

                    .detail{
                        font-weight: 600;
                    }

                    .price{
                        color: #FC5252;
                        font-weight: 600;
                    }
                    .count {
                        display: flex;
                        gap: 10px;
                        font-size: 22px;

                        .minus {
                            width: 35px;
                            height: 35px;
                            background-color: #d7d7d7;
                        }

                        .plus {
                            background-color: #A6A3A3;
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
            }
        }
    }
}