#PaymentTemplate {
    .header {

        nav {
            width: calc(100% - 100px);
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                color: #FC5252;
                font-size: 72px;
                font-weight: 600;
                text-decoration: none;
            }

            .profile {
                font-size: 14px;
                font-weight: 700;
                color: #000;
                &:hover {
                    color: #FC5252;
                }
            }
        }

        border-bottom: 3px solid #FC5252;
    }
}