.Shop {
    padding-top: 100px;
    padding-bottom: 100px;

    .bread {
        border-bottom: 3px solid #ff1e00;
        text-align: left;

        .title {
            width: 250px;
            height: 50px;
            background-color: #ff1e00;
            font-weight: 600;
            font-size: 22px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .trend {
        margin: 0 auto;
        margin-top: 25px;
        padding: 0 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
            flex: auto;
            .trend-name {
                text-transform: uppercase;
                font-size: 15px;
                color: #fff;
                font-weight: 600;
                line-height: 20px;
            }

            &:hover {
                .thumbnail {
                    cursor: pointer;
                    transform: scale(1.1);
                    transition: all 0.3s;
                }
            }
        }
    }

    .best-seller {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        gap: 40px;

        .col {
            .item {
                padding: 20px;
                padding-bottom: 50px;
                text-align: left;
                background-color: #fff;

                .thumbnail {
                    img {
                        width: 100%;
                        height: 100%;
                    }

                    &:hover {
                        transform: scale(1.1);
                        transition: all 0.5s;
                        cursor: pointer;
                    }
                }

                .brand {
                    color: #aaa;
                    font-size: 15px;
                }

                .title {
                    color: #1D2864;
                    font-size: 15px;
                    font-weight: 600;
                }

                .vote {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .star {
                        color: rgb(255, 188, 4);
                    }

                    .rate {
                        font-size: 10px;
                        font-weight: 600;
                        color: #aaa;
                    }
                }

                .buy {
                    margin-top: 8px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .price {
                        color: #339999;
                        font-weight: 600;
                        font-size: 15px;
                    }

                    button {
                        width: 76px;
                        height: 30px;
                        border: none;
                        border-radius: 8px;
                        background-color: #FFA3A3;

                        &:hover {
                            background-color: #aaa;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}