.news {
  text-align: start;
  a {
    text-decoration: none;
    color: black;
  }
  .container {
    .bread {
      border-bottom: 3px solid #ffa3a3;
      text-align: left;
      .title {
        width: 250px;
        height: 50px;
        background-color: #ffa3a3;
        font-weight: 600;
        font-size: 22px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .content-box {
      padding: 20px;
      margin: 20px 0;
      img {
        width: 300px;
        height: auto;
      }
      .title {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 0;
      }
      .detail {
        margin-top: 30px;
        font-size: 14;
      }
    }
    .content-box-small {
      padding: 12px;
      margin: 20px 0;
      max-height: 208px;
      img {
        width: auto;
        height: 79px;
      }
      .title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;
      }
    }
  }
}
