.landing-page {
  background-image: url("./../../assets/image/bg-test.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  a {
    transition: 0.3s all ease;
    color: #fc5252;
    text-decoration: none !important;
    outline: none !important;
  }
  .container {
    padding: 30px;
    .btn-start {
      font-size: 20px;
      background-color: #fc5252;
      color: white;
      margin-top: 30px;
      padding: 15px;
      border-radius: 10px;
    }
    .login-wrap {
      position: relative;
      color: rgba(255, 255, 255, 0.9);
      h3 {
        font-weight: 300;
        color: white;
      }
      .social {
        width: 100%;
        .login-with-social-btn {
          transition: color 0.3s linear;
          width: 300px;
          padding: 12px 0;
          border: none;
          border-radius: 3px;
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04),
            0 1px 1px rgba(0, 0, 0, 0.25);
          color: #757575;
          font-size: 14px;
          font-weight: 600;
          &:hover {
            color: #fc5252;
          }
          i {
            margin-right: 10px;
            font-size: 18px;
          }
        }
      }
    }

    .form-group {
      position: relative;
      margin-bottom: 1rem;
    }

    .field-icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      color: rgba(255, 255, 255, 0.9);
    }

    //FORM CONTROL
    .form-control {
      background: transparent;
      border: none;
      height: 50px;
      color: rgba(255, 255, 255, 1) !important;
      border: 1px solid transparent;
      background: rgba(255, 255, 255, 0.08);
      border-radius: 40px;
      padding-left: 20px;
      padding-right: 20px;
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.8) !important;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.8) !important;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(255, 255, 255, 0.8) !important;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.8) !important;
      }
      &:hover,
      &:focus {
        background: transparent;
        outline: none;
        box-shadow: none;
        border-color: rgba(255, 255, 255, 0.4);
      }
      &:focus {
        border-color: rgba(255, 255, 255, 0.4);
      }
    }
    textarea.form-control {
      height: inherit !important;
    }

    //CHECKBOX STYLE
    .checkbox-wrap {
      display: block;
      position: relative;
      padding-left: 30px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .checkbox-wrap input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "\f0c8";
      font-family: "FontAwesome";
      position: absolute;
      color: rgba(255, 255, 255, 0.1);
      font-size: 20px;
      margin-top: -4px;
    }

    /* Show the checkmark when checked */
    .checkbox-wrap {
      input:checked ~ .checkmark:after {
        display: block;
        content: "\f14a";
        font-family: "FontAwesome";
        color: rgba(0, 0, 0, 0.2);
      }
    }

    /* Style the checkmark/indicator */
    .checkbox-wrap .checkmark:after {
    }

    .checkbox-primary {
      color: #fc5252;
      input:checked ~ .checkmark:after {
        color: #fc5252;
      }
    }

    //BUTTON
    .btn {
      cursor: pointer;
      border-radius: 10px;
      box-shadow: none !important;
      padding: 10px 30px;
      font-size: 15px;
      text-transform: uppercase;
      &:hover,
      &:active,
      &:focus {
        outline: none;
      }
      &.btn-primary {
        background: #fc5252 !important;
        border: 1px solid #fc5252 !important;
        color: black !important;
        &:hover {
          border: 1px solid #fc5252;
          background: transparent;
          color: #fc5252;
        }
        &.btn-outline-primary {
          border: 1px solid #fc5252;
          background: transparent;
          color: #fc5252;
          &:hover {
            border: 1px solid transparent;
            background: #fc5252;
            color: white;
          }
        }
      }
    }
  }
}
